@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Shadows+Into+Light&display=swap');

.Login {
    position: relative;
    display: block;
    opacity: 0.8;
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5vh 10vw;
}

.Title {
    width: 80%;
    color: #FFF8F0;
    text-shadow: 0.05em 0.05em 0.2em #35FF69;

    user-select: none;
    position: inline;

    /* position: absolute;
    top: calc(12.5% + calc(70px / 2));
    left: 50%;
    transform: translateX(-50%); */

    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    line-height: 50px;
    text-align: center;

    margin: 0 50px;
}


@media only screen and (max-width: 828px) {
    .Login {
        flex-direction: column;
        justify-content: center;
    }
    .Title {
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .Divider {
        height: 5px;
        width: 400px;
    }
}