.Toggle {
    width: 100%;
    height: max-content;
    padding: 10px 5vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    background-color: purple;
}

.Toggle > .Switch {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    /*background-color: red;*/
}

.Toggle > .Switch > input {
    height: 50px;
    width: 50px;
}

.Toggle > p {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    text-align: center;
}

