@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.Navbar {
    height: 40px;
    width: 100%;
    background-color: #020100;
    padding: 0 2.5vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@keyframes flickerAnimation {
    0%   { color: #15ea4a; }
    50%  { color: #96f7ae; }
    100% { color: #15ea4a; }
}
@-o-keyframes flickerAnimation{
    0%   { color: #15ea4a; }
    50%  { color: #96f7ae; }
    100% { color: #15ea4a; }
}
@-moz-keyframes flickerAnimation{
    0%   { color: #15ea4a; }
    50%  { color: #96f7ae; }
    100% { color: #15ea4a; }
}
@-webkit-keyframes flickerAnimation{
    0%   { color: #15ea4a; }
    50%  { color: #96f7ae; }
    100% { color: #15ea4a; }
}
#NavHeading {
    display: inline-block;
    width: max-content;
    color: #35FF69;
    font-family: 'Rajdhani', sans-serif;
    user-select: none;
    -webkit-animation: flickerAnimation 1s cubic-bezier(.05,1.01,.37,.36) infinite;
    -moz-animation: flickerAnimation 1s cubic-bezier(.05,1.01,.37,.36) infinite;
    -o-animation: flickerAnimation 1s cubic-bezier(.05,1.01,.37,.36) infinite;
    animation: flickerAnimation 1s cubic-bezier(.05,1.01,.37,.36) infinite;
}

.Link{
    display: inline-block;
    text-decoration: none;
}
.Link > h1, .Link > h1 > * {
    transition: 250ms;
    transition-timing-function: cubic-bezier(.05,1.01,.37,.36);

    font-family: 'Rajdhani', sans-serif;
    color: #35FF69;
    font-size: 24px;
    line-height: 32px;

    scale: 0.8;
}

.Link:hover h1 {
    color: white;
}

.ImageLink {
    height: 40px;
    width: 40px;
}
.ImageLink > img {
    transition: 250ms;
    transition-timing-function: cubic-bezier(.05,1.01,.37,.36);

    transform: translate3d(5px, 5px, 0);
    height: 20px;
    width: 20px;
}
.ImageLink:hover img {
    scale: 1.2;
}

