#Chatroom {
    width: 100%;
    padding: 25px;
} 

#Field {
    height: 85vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

#Messages {
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #3b3b3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f83357;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fe849a;
    cursor: pointer;
}

.Msg {
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#sent {
    align-self: flex-end;
    background: rgb(237,59,141);
    background: linear-gradient(103deg, rgba(237,59,141,1) 0%, rgba(248,24,118,1) 38%, rgba(195,0,255,1) 100%);
    color: white;
}

#recieved {
    align-self: flex-start;
    background-color: white;
}

@media only screen and (max-width: 992px) {
    #Field {
        height: 25vh;
    }
}


#Input {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Input > * {
    margin: 10px;
}

#Input > textarea {
    font-family: "Kanit";
    border-radius: 8px;
    width: 100%;
    padding: 10px;

    resize: vertical;
    height: 50px;
    min-height: 50px;
    max-height: 200px;
}

#Input > button {
    font-family: "Kanit";
    border-radius: 8px;
    background-color: #f83357;
    color: white;
    height: 50px;
}


