* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #212529;
}

.Container {
  height: 100%;
  margin-top: 98.5px;
  background: #212529;
}

@media only screen and (max-width: 992px) {
  .Container {
    margin-top: 84px;
  }
}




