:root {
    --navheight: 98.5px;
}

/* .react-confirm-alert {
    
} */

/* .react-confirm-alert-body {
    background-color: red !important;
} */

/* .react-confirm-alert-button-group > button {
    background-color: yellow;
} */